<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kadazi.poliklinikapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoliklinikApps">
        <activity
            android:name=".Activity.UploadBuktiPembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MediaPembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailPembayaran"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailJadwalDokter"
            android:exported="false" />
        <activity
            android:name=".Activity.JadwalPraktekActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AntrianActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpSuccesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpPasienActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpEmailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DaftarBaruActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DaftarActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LaporkanMasalahActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditPasienActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditAkunActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailPemeriksaanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RiwayatPemeriksaanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ResepActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>